Package: mqttmachinestate
Version: {{VERSION}}
Section: utils
Priority: optional
Architecture: {{DEB_ARCH}}
Maintainer: Peter Fichtner <mqttmachine@public-files.de>
Depends: systemd
Description: MQTT machine state utility
 Runs mqttmachinestate as a systemd service with a default config file.

